
.btn{
  cursor: pointer;
}

body{ 
  background-color: #ecf0f1;
  color: #34495e

}


h1{
  color: #34495e;
  transition: color 0.5s ease-in-out;
}

.clicked{
  color: #7f8c;
}

.form,.greeting{
  display: none;
}

.showing{
  display: block;
}